@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url(fonts/eot/IRANSansWebBold.eot);
  src: url(fonts/eot/IRANSansWebBold.eot?#iefix) format('embedded-opentype'),
    /* IE6-8 */ url(fonts/woff2/IRANSansWebBold.woff2) format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url(fonts/woff/IRANSansWebBold.woff)
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url(fonts/ttf/IRANSansWebBold.ttf)
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/eot/IRANSansWebMedium.eot);
  src: url(fonts/eot/IRANSansWebMedium.eot?#iefix) format('embedded-opentype'),
    /* IE6-8 */ url(fonts/woff2/IRANSansWebMedium.woff2) format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url(fonts/woff/IRANSansWebMedium.woff)
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url(fonts/ttf/IRANSansWebMedium.ttf)
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/eot/IRANSansWebLight.eot);
  src: url(fonts/eot/IRANSansWebLight.eot?#iefix) format('embedded-opentype'),
    /* IE6-8 */ url(fonts/woff2/IRANSansWebLight.woff2) format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url(fonts/woff/IRANSansWebLight.woff)
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url(fonts/ttf/IRANSansWebLight.ttf)
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url(fonts/eot/IRANSansWebUltraLight.eot);
  src: url(fonts/eot/IRANSansWebUltraLight.eot?#iefix)
      format('embedded-opentype'),
    /* IE6-8 */ url(fonts/woff2/IRANSansWebUltraLight.woff2) format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url(fonts/woff/IRANSansWebUltraLight.woff)
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url(fonts/ttf/IRANSansWebUltraLight.ttf)
      format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/eot/IRANSansWeb.eot);
  src: url(fonts/eot/IRANSansWeb.eot?#iefix) format('embedded-opentype'),
    /* IE6-8 */ url(fonts/woff2/IRANSansWeb.woff2) format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url(fonts/woff/IRANSansWeb.woff)
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url(fonts/ttf/IRANSansWeb.ttf)
      format('truetype');
}

body .layout.rtl * {
  font-family: IRANSans, 'Roboto', sans-serif !important;
  direction: rtl;
  text-align: right;
}
body .rtl .MuiPaper-root {
  text-align: right;
  direction: rtl;
}
.MuiSnackbarContent-message {
  font-family: IRANSans, 'Roboto', sans-serif !important;
  text-align: right;
  direction: rtl;
}
body .layout.rtl a,
.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root {
  font-family: IRANSans, 'Roboto', sans-serif !important;
}

.MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root {
  text-align: right;
  direction: rtl;
}

.ltr .MuiMenuItem-root.MuiMenuItem-gutters.MuiButtonBase-root {
  text-align: left;
  direction: ltr;
}
#header_last,
#header_last * {
  direction: ltr !important;
  text-align: left !important;
}
body .layout.rtl .MuiSelect-select {
  padding-left: 32px;
  padding-right: 10px;
  text-align: right;
  direction: rtl;
}

.layout.rtl .RaRichTextInputToolbar-root {
  direction: ltr;
  text-align: left;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.layout.rtl .RaRichTextInputToolbar-root * {
  direction: ltr;
  text-align: left;
  font-size: 18px;
}

body .layout.rtl .MuiInputLabel-root {
  transform-origin: top right !important;
  right: 20px;
  left: auto;
  z-index: 0;
}

body .layout.rtl .ltr,
body .layout.rtl .ltr * {
  direction: ltr;
  text-align: left;
  font-family: 'Roboto', sans-serif, IRANSans !important;
}

body .layout.rtl .rtl-right {
  direction: rtl;
  text-align: right;
}

body .layout.rtl .MuiButton-startIcon {
  margin-left: 8px;
  margin-right: -2px;
}

body .layout.rtl .MuiTableCell-root,
body .layout.rtl .MuiInputBase-inputMultiline {
  text-align: right !important;
  direction: rtl !important;
}

body .layout.rtl .MuiSelect-icon {
  left: 0;
  right: auto !important;
}

body .layout.rtl .leftCol {
  flex: 1 1 0%;
  margin-right: 0.5em;
  margin-left: auto;
  flex-basis: 50%;
}

body .layout.rtl .rightCol {
  flex: 1 1 0%;
  flex-basis: 50%;
  margin-right: auto;

  margin-left: 0.5em;
}

body .layout.rtl .MuiButtonGroup-grouped:not(:last-of-type) {
  border-top-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}

body .layout.rtl .MuiButtonGroup-grouped:not(:first-of-type) {
  border-top-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
}

body .layout.rtl .dropzone-placeholder {
  text-align: center;
}
body .layout.rtl .hytrdf {
  float: right;
}
