.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  margin-top: 5rem;
  gap: 2rem;
  padding: 2rem;
}

.input {
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.faviconContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 2rem;
}

.favicon {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
}

.color {
  flex-basis: 20%;
  padding: 0 2px;
  margin-left: 5px;
  margin-right: 2px;
}

.colorLabel {
  display: block;
  font-size: 0.8rem;
  width: max-content;
  padding: 10px 1px;
}
