.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
  margin-top: 5rem;
  gap: 2rem;
  padding: 2rem;
}

.input {
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
