
## Node packages
node_modules

## Compiled files
dist

## Env
.env.local

## public
files

## shared
shared/*

## logs
logs/*

## assets
public/*

# VS
.vscode

## plugins
plugins/*