.container {
  min-height: 58vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  @media (max-width: 768px) {
  }
}

.button {
  padding: 0.2rem;
  width: 5rem;
  border-radius: 0.5rem;
  background-color: #2a9a71;
  color: white;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.button:hover {
  background-color: #217154;
  transform: scale(1.05);
}

.formPhoneFieldContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
