{
  "env":{
    "commonjs": true,
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
